.LoginForm { margin: 55px auto 0; width: 370px; }
.ImgUploaded { overflow: auto; width: 690px; }
.ActivityDefaultSelect { float: left; width: 220px; }
.tdCh { width: 40px; vertical-align: middle; }
.dListCh { float: left; padding: 10px 5px 0 9px; }
.dListCell { float: left; padding: 10px 10px 10px 0; text-align: left; }